@charset "UTF-8";
/* CSS Document */

#all {
	background-color: #444;
}

#container {
	width: 968px;
	background: #FFF;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
#banner h1 {
	font-family: 'Special Elite', cursive;
	font-size: 96px;
	color: #222;
	margin: 0px;
	padding-top: 80px;
	padding-bottom: 23px;
	padding-left: 20px;
	font-weight: lighter;
	letter-spacing: 0px;
	word-spacing: 1px;
}
#banner a {
	text-decoration: none !important;
}

#header {
	height: 100px;
}
#banner img {
	float: left;
	margin: 0px;
	padding: 0px;
}
#navbar a {
	font-family: 'Special Elite', cursive;
	color: #FFF;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
	display: block;
	width: 308px;
	padding-top: 13px;
	padding-right: 5px;
	padding-bottom: 9px;
	padding-left: 5px;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
}

#navbar a:hover {
	background-color:#999;
}


#navbar ul {
	margin: 0px;
	list-style-type: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 7px;
}
#navbar {
	background-color: #222;
	height: 47px;
}
#navbar ul li {
	float: left;
}
p {
	font-size: 18px;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: lighter;
}


#main_text_books {
	height: 1170px;
	border-right-style: double;
	border-left-style: double;
	border-top-color: #222;
	border-right-color: #222;
	border-bottom-color: #222;
	border-left-color: #222;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#main_text_authors {
	height: 1000px;
	border-right-style: double;
	border-left-style: double;
	border-top-color: #222;
	border-right-color: #222;
	border-bottom-color: #222;
	border-left-color: #222;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}

#footer {
	background-color: #222;
	margin: 0px;
	padding: 0px;
}
#footer p {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #FFF;
	text-align:center;
}
#main_text p em a {
	text-decoration: none;
	color: #666;
}
#main_text_books img {
	padding-left: 30px;
}

#main_text_books p {
	line-height: 22px;
	color: #222;
	text-align: justify;
	/*text-indent: 30px;*/
	padding-bottom: 60px;
}
	
#main_text_books #diagram {
	text-align: center;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#main_text_books #book_img img {
	float: left;
	clear: left;
	padding-top: 40px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}
#main_text_authors img {
	float: left;
	box-shadow: 5px 5px 10px black;
}

#main_text_authors p a {
	text-decoration: none;
	color: #555;
}
#main_text_authors p {
	height: 400px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 320px;
	line-height: 30px;
	color: #222;
	text-align: justify;
    /*text-indent: 30px;*/
	font-size: 16px;	
}

#main {
	height: 770px;
	border-right-style: double;
	border-left-style: double;
	border-top-color: #222;
	border-right-color: #222;
	border-bottom-color: #222;
	border-left-color: #222;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}

#l1, #c1, #r1, #l2, #r2 {
	float: left;
}

#l1, #r2 {
	/*border-radius:15px;*/
}


#main_top #l1 {
	height: 389px;
	width: 216px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#main_top #c1 {
	background-color: #DCDAD4;
	height: 389px;
	width: 489px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#main_top #r1 #t1{
	height: 189px;
	width: 216px;
	margin-bottom: 11px;
	overflow: hidden;
}
#main_top #r1 #b1{
	height: 189px;
	width: 216px;
	margin-bottom: 10px;
	overflow: hidden;
}


#main_bottom #l2 #t2{
	height: 199px;
	width: 457px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

#main_bottom #l2 #b2{
	background-color: #DCDAD4;
	height: 159px;
	width: 457px;
	margin-right: 10px;
	overflow: hidden;
}

#main_bottom #r2{
	height: 369px;
	width: 464px;
	overflow: hidden;
}
#main p {
	margin: 0px;
	font-size: 15px;
	text-align: left;
	/*text-indent: 20px;*/
	word-spacing: 2px;
	line-height: 25px;
	padding: 10px;
}

#main_bottom #l2 #b2 p{
	font-size: 14px;
	padding-top: 10px;
	padding-right: 35px;
	padding-bottom: 10px;
	padding-left: 35px;
	text-align: justify;
}

#main_bottom #l2 #b2 #address p{
	padding: 0px !important;
	text-align: center;
	vertical-align: 0%;
	font-size: 12px;
	line-height: 15px;
}

#main_bottom #l2 #b2 p a {
	text-decoration: none;
	color: #555;
}

#main img {
	-webkit-filter: grayscale(10%);
	-webkit-transition: -webkit-filter .5s ease-out;
}

#main img:hover{
	-webkit-filter: grayscale(100%);
}
